@import url("https://fonts.googleapis.com/css2?family=Electrolize");

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: paleturquoise;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* border: 1px solid red; */
  border-radius: 5px;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Electrolize", Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: slateblue;
  width: 90%;
  max-width: 320px;
  margin: 110px 0px 20px 0px;
  padding: 10px;
  border-radius: 10px;
  border-color: mediumpurple;
  border-width: 8px;
  border-style: outset;
  box-shadow: 4px 1px 15px 2px black;
}

h1 {
  display: flex;
  justify-content: center;
  color: plum;
  text-shadow: 1px 1px 2px black;
  padding: 5px;
  user-select: none;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 6px;
  padding: 3px;
  background-color: rgb(118, 172, 136);
  color: darkslategrey;
  text-shadow: 1px 1px 2px black;
  border-color: mediumpurple;
  border-width: 2px;
  border-style: inset;
}

.backlight-green {
  background-color: lightgreen;
  border-color: yellowgreen;
}

.glow-green {
  box-shadow: 1px 1px 15px 1px mediumaquamarine;
}

.backlight-blue {
  background-color: cyan;
  border-color: mediumturquoise;
}

.glow-blue {
  box-shadow: 1px 1px 15px 1px mediumturquoise;
}

.backlight-orange {
  background-color: sandybrown;
  border-color: peru;
}

.glow-orange {
  box-shadow: 1px 1px 15px 1px lightsalmon;
}

.backlight-pink {
  background-color: pink;
  border-color: violet;
  border-color: plum;
}

.glow-pink {
  box-shadow: 1px 1px 15px 1px lightpink;
}

textarea {
  width: 100%;
  font-family: "Electrolize", Arial, sans-serif;
  background-color: rgb(118, 172, 136);
  color: darkslategrey;
  text-shadow: 1px 1px 2px black;
  border: none;
  white-space: nowrap;
  text-align: right;
  resize: none;
}

.display-input {
  font-size: 30px;
  height: 46px;
  margin: 3px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.display-result {
  font-size: 20px;
  height: 32px;
  margin: 3px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.display-input::-webkit-scrollbar-thumb,
.display-result::-webkit-scrollbar-thumb {
  background: hsla(180, 25%, 25%, 0.25);
  border-radius: 3px;
  height: 3px;
}

.display-input::-webkit-scrollbar,
.display-result::-webkit-scrollbar {
  height: 3px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  background-color: mediumslateblue;
  border-color: mediumpurple;
  border-width: 2px;
  border-style: inset;
}

[class*="button-row"] {
  display: flex;
  justify-content: space-around;
}

button {
  flex: 1;
  font-size: x-large;
  margin: 3px;
  font-family: "Electrolize", Arial, sans-serif;
  background-color: lightpink;
  color: mediumslateblue;
  border-color: mediumpurple;
  border-width: 2px;
  border-style: outset;
  padding-top: 4px;
}

button.operator {
  font-size: xx-large;
  background-color: plum;
}

button.clear {
  background-color: palevioletred;
  color: white;
}

button.backspace {
  background-color: violet;
  color: white;
  padding-bottom: 2px;
}

button.equal {
  background-color: mediumaquamarine;
  color: white;
}

button.btn-0 {
  flex: 2.56;
}

button:active {
  border-style: inset;
  border-color: mediumpurple;
  color: plum;
}

.button-row-1 > button:active {
  color: rosybrown;
}
